@media (min-width: 768px) {
    .gradient-form {
        height: 100% !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.required:after {
    content:" *";
    color: red;
}
.formSesion{
    width: 50%;
    display: inline-block;
}