/*I assign to some variables the colors that will be used in the page*/
:root {
    --bg-dark-blue-color: #477ED7;
    --light-blue-color: #87B3FD;
    --light-transparent-60-color: #87b3fd99;
    --light-transparent-15-color: #87b3fd26;
    --text-color: #1E1E1E;
    --bg-color: #F8F8F8;}
    
/*Button size*/   
.style-1 {
    height: 170px;
    width: 170px;
}
 

/*Bacground color, font-family and organization for all the document*/
body{

    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--light-transparent-15-color);
    overflow-x: hidden;
    /*
    margin: 5rem 0;
    background-color: var(--light-transparent-15-color);
    font-family: 'Poppins', sans-serif;

    height: 95vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 0px;*/
}

/*Color of the central section and positions of the elements*/
.general {
    background-color: var(--light-transparent-15-color);
    text-align: center;
    justify-content: center; 
    align-items: center;
    padding: 3% 10% 0 10%;

}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .5rem;
}

/*Title color and spacing*/
.titulo{
    padding: 30px 30px;
    color: var(--text-color);
    font-size: clamp(40px, 3vw, 30px);
}

.titulo > h1 {
    margin-bottom: .5rem;
}

.description {
    font-size: clamp(12px, 3vw, 18px);
    text-align: justify;
    
    padding-right: 100px;
    padding-left: 100px;
    border-left-width: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Button margin*/
.buttons button {
    margin: 2%; 
    
}

/*Button style and position*/
.style-1 {
    border: var(--bg-color);
    color: var(--text-color);
    background-color: var(--light-blue-color);
    text-transform:uppercase;  
    padding:10px;
    font-weight:600;
    max-width:250px;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align:center;  
    margin:10px auto;
    position:relative;
    border-radius: 10px;
}
/*Button styling when hovered over*/
.style-1:hover {
    background: var(--bg-dark-blue-color);
    border-color: var(--text-color);
    color: var(--bg-color);
}

/*Responsive*/
@media screen and (max-width: 1232px) {
    .style-1 {
      width: 200px;
      height: 200px;
    }
}
@media screen and (max-width: 1153px) {
    .style-1 {
      width: 130px;
      height: 130px;
    }
}
@media screen and (max-width: 1073px) {
    .style-1 {
      width: 120px;
      height: 120px;
    }
}
@media screen and (max-width: 714px) {
    .style-1 {
      width: 110px;
      height: 110px;
    }
}
@media screen and (max-width: 658px) {
    .style-1 {
      width: 100px;
      height: 100px;
    }
}
@media screen and (max-width: 601px) {
    .general {
        width: 100%;
        text-align: center;
    }
    .style-1 {
        width: 110px;
        height: 110px;
        font-size: smaller;
    }
}

@media screen and (max-width: 401px) {
    .general {
        padding: 0 5px;
    }
}